@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(39, 36, 36);
}

div {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 621px) {
  .moldura img {
    max-width: 900px;
  }

  .content {
    left: 15%;
    width: 400px;
  }

  main h1 {
    font-size: 4rem;
  }
}
