* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(51, 49, 49);
}

h1 {
  text-align: center;
  padding-top: 25px;
}

.calculador {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;

  .display {
    width: 100%;
    height: 280px;

    .saida, .resultado {
        width: 100%;
        height: 50%;
        inset: none;
        border: none;
        outline: none;
        font-size: 3rem;
        text-align: end;
    }
    .saida {
        background-color: rgb(85, 126, 38);
    }

    .resultado {
        display: block;
        background-color: rgb(134, 160, 160);
    }
  }

  .keyPad {
    gap: 10px;
    width: 100%;
    height: 60%;
    display: grid;
    align-content: end;
    padding-bottom: 10px;
    justify-content: center;
    grid-template-rows: repeat(5, 85px);
    grid-template-columns: repeat(4, 85px);
  }

  button {
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    color: whitesmoke;
    background-color: gray;
  }
}


.green {
    color: rgb(11, 240, 22) !important;
}

.igual {
    background-color: rgb(20, 165, 27) !important;
}

.orang {
    color: orangered !important;
}